header{
    position: fixed;
    background-color: grey;
    width: 100vw;
    height: 9vh;
    top: 0;
    /*position: relative;*/
}
img{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
}
nav{
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 20px;
    margin: auto;
}
p{
    margin-top: 60px;
}

#sectionx{
    width: 400px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    margin-top: 70px;

}

.box{
    width: 80px;
    aspect-ratio: 1/1;
    position:sticky;
    background-color:red;
    top: 0;
}
